body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to right, #C0C0C0, #A9A9A9);
    color: black;
    margin: 0;
    padding: 20px;
}

.calculator {
    display: inline-block;
    background: silver;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

h1 {
    margin-bottom: 20px;
}

input {
    width: 80%;
    padding: 10px;
    font-size: 1.2em;
    margin-bottom: 10px;
}

button {
    font-size: 1.2em;
    padding: 10px;
    border: none;
    background: #B0C4DE;
    cursor: pointer;
}

button:hover {
    background: #ADD8E6;
}

p {
    font-size: 1.5em;
    margin-top: 10px;
}
.home-button {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 15px;
    font-size: 1.2em;
    background: #B0C4DE;
    color: black;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s;
}

.home-button:hover {
    background: #ADD8E6;
}
